<h1><%= @vehicle.year.to_s + ' ' + @vehicle.make + ' ' + @vehicle.model %></h1></br>

<img src= "<%= @vehicle.img_url %>" >
<br>

<p><%= "#{@vehicle.year}" + " " + "#{@vehicle.make}" + " " + "#{@vehicle.model}" %></p>

Seller: <%= @vehicle.seller.name %></p>
Price: <%= number_with_delimiter(@vehicle.price) %></br>


<%= button_to "Buy Me!", action: "make_purchase" %>
<%= button_to "Go Back", vehicles_path, :method => :get %>