/* <h1><%= @vehicle.year.to_s + ' ' + @vehicle.make + ' ' + @vehicle.model %></h1></br> */

<img src= "<%= @vehicle.img_url %>" ><br></br>

Make: <%= @vehicle.make %></br>
Model: <%= @vehicle.model %></br>
Year: <%= @vehicle.year %></br>
Description: <%= @vehicle.description %></br>
Price: <%= @vehicle.price %></br>
Seller: <%= @vehicle.seller.name %></br>

<%= button_to "Buy Me!", action: "make_purchase" %>